.login-form {
    width: 45em;
    height: 35em;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.4);
    border-radius: 5px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-form-top-div,
.login-form-bottom-div {
    width: 100%;
    height: 3.5em;
    background-color: rgb(95, 95, 98);
}

.login-form-top-div {
    height: 3.8em;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-bottom-div {
    border-radius: 0 0 5px 5px;
}

.login-form-top-div h2 {
    color: white;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0;
}

.login-form-middle-div {
    text-align: center;
}

.login-form-middle-div h3,
.login-form-middle-div h4 {
    font-family: 'Roboto', sans-serif;
    color: rgb(125, 125, 128);
    margin: .25em;
}

.login-form label{
    color: black;
}

.login-form input{
    width: 60%;
    height: 2em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.login-form input:focus{
    outline: none;
}

.login-form button{
    width: 60%;
    height: 3em;
    background-color: rgb(95, 95, 98);
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    cursor: pointer;
}

.login-form button:hover{
    box-shadow: inset 1px 1px 3px 2px rgba(0,0,0,.4);
}