.application-body {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/background_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.application-header {
    width: 100vw;
    height: 12vh;
    background-color: rgba(255,255,255,.3);
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,.2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.application-header-logo{
    width: 20em;
}

.application-footer{
    margin: .5em;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
}