<h2 class="collection-title">
    Lista de livros
</h2>

<form class="register-update-form">
    <label for="title">
        Title:
    </label> 
    <input 
        type="text" 
        name="title" 
        required 
        [(ngModel)]="book.title"
    >
    <label for="genre">
        Genre:
    </label>
    <input 
        type="text" 
        name="genre" 
        required
        [(ngModel)]="book.genre"
    >
    <label for="description">
        Description:
    </label>      
    <input 
        type="text" 
        name="description"
        required
        [(ngModel)]="book.description"
    >
    <button
        type="button"
        (click)="registerBook()"
    >
    Cadastrar
    </button>
</form>

<table class="collection-list">
  <thead>
    <tr>
        <th>
            <p>Título</p>
        </th>
        <th>
            <p>Gênero</p>
         </th>
         <th>
            <p>Descrição</p>
        </th>
        <th>
            <p>Ações</p>
        </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of collection.list | paginate: { id: 'listing_pagination',
        itemsPerPage: 5, currentPage: currentPage, totalItems: totalRecords }"
    >
        <td>
            <p>{{ book.title }}</p>
        </td>
        <td>
            <p>{{ book.genre }}</p>
        </td>
        <td>
            <p>{{ book.description }}</p>
        </td>
        <td>
            <button 
                class="edit-button"
                type="button" 
                (click)="editBook(book._id)"
            >
            Editar
            </button>
            <button 
                class="delete-button"
                type="button" 
                (click)="deleteBook(book._id)"
            >
            Remover
            </button>
        </td>
    </tr>
  </tbody>
</table>
<div class="collection-list-pagination-div">
    <pagination-controls
        class="collection-list-pagination"
        id="listing_pagination" 
        directionLinks="true"
        (pageChange)="currentPage = $event"
        previousLabel="Anterior" 
        nextLabel="Próximo"
    >
    </pagination-controls>
</div>